@import "tailwindcss";

@theme {
  --color-brand-dark: #1A0B0B;
  --color-brand-cream: #F9F8F4;
  --color-brand-accent: #312222;
  --color-banquet-gold: #CBA135;

  --font-playfair: var(--font-playfair);
  --font-inter: var(--font-inter);
}

:root {
  --background: #F9F8F4;
  --foreground: #1A1A1A;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}